<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CityMapper">
    
    
    <select id="selectCount" resultType="int">
        select count(*) from city
    </select>
    
    <select id="selectAll" resultType="com.hybrid.model.City">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
    </select>
    
    
    <select id="selectPage" 
        	parameterType="com.hybrid.util.Pagination" 
        	resultType="com.hybrid.model.City"
        	databaseId="mysql">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 order by id desc
		 limit #{start}, #{length} 
    </select>
    
    <select id="selectPage" 
        	parameterType="com.hybrid.util.Pagination" 
        	resultType="com.hybrid.model.City"
        	databaseId="oracle">
        select outer.*
		  from ( select rownum r, inner.*
		  		   from ( select *
		  		   			from city 
		  		   		   order by id desc
		  		        ) inner
		  	   ) outer
		 where outer.r &gt;= #{firstItem}				<!-- great than -->
		   and outer.r &lt;= #{lastItem}				<!-- less than -->
    </select>
    
    
    <select id="selectById" parameterType="int" resultType="com.hybrid.model.City">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 where id = #{id}
    </select>
    
    
    
    <select id="selectByCountryCode" parameterType="string" resultType="com.hybrid.model.City">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 where countrycode = #{countryCode}
    </select>
    
    
    <insert id="insert" 
        	parameterType="com.hybrid.model.City"
        	useGeneratedKeys="true"							
        	keyProperty="id"
        	databaseId="mysql"								
        	>    
        	<!-- useGeneratedKeys="true", keyProperty="id"  ->  mysql에서 자동으로 만들어짐. key는 id -->
        insert into city
		(
			name, 
			countrycode, 
			district, 
			population
		)
		values
		(
			#{name, jdbcType=VARCHAR},				 <!-- 값이 들어오지 않으면 null값으로 변환 -->
			#{countryCode, jdbcType=VARCHAR},
			#{district, jdbcType=VARCHAR},
			#{population, jdbcType=NUMERIC}
		)
    </insert>
    
    
    <insert id="insert" 
        	parameterType="com.hybrid.model.City"
        	databaseId="oracle"								
        	>   
        		<!-- insert와 넘버링 부분에서만 mysql과 oracle이 차이가 있다. --> 
        <selectKey keyProperty="id" resultType="int" order="BEFORE">	
            	<!-- oracle의 sequence를 이렇게 사용 할수 있다. 대신 이전에 sql에서 sequence 생성을 해야 한다. -->
            select city_id_generator.nextVal from dual            
        </selectKey>
        	
        insert into city
		(	
			id,
			name, 
			countrycode, 
			district, 
			population
		)
		values
		(
			#{id},
			#{name, jdbcType=VARCHAR},				 <!-- 값이 들어오지 않으면 null값으로 변환 -->
			#{countryCode, jdbcType=VARCHAR},
			#{district, jdbcType=VARCHAR},
			#{population, jdbcType=NUMERIC}
		)
    </insert>
    
    
    
    <update id="update" parameterType="com.hybrid.model.City">
		update city
		   set name 		= #{name},
		       countryCode	= #{countryCode},
		       district		= #{district},
		       population 	= #{population}
		 where id = #{id}      
    </update>
    
    
    
    <delete id="deleteById" parameterType="int">
        delete from city where id = #{id}  
    </delete>
    
    
    <delete id="deleteAll">
        delete from city
    </delete>
    
    
    
    
</mapper>
